<!DOCTYPE html>
<html class="app">
  <head>
    {% include "./includes/head.html" %}
  </head>
  <body>
    <section class="loader">
      {% include "./svgs/loader.svg" %}
    </section>
    <section class="main-container">
      {% include "./includes/header.html" %}
      {% include "./includes/section-1.html" %}
      {% include "./includes/section-2.html" %}
      {% include "./includes/section-3.html" %}
      {% include "./includes/section-4.html" %}
      {% include "./includes/section-5.html" %}
      {% include "./includes/section-6.html" %}
      {% include "./includes/footer.html" %}
      {% include "./includes/fab.html" %}
    </section>
  </body>
  <script src="scripts/bundle.min.js" async defer></script>
</html>