@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body {
    background: #000;
    font-family: 'Press Start 2P', monospace;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: auto;
    text-align: center;
    color: #0f0;
    padding: 100px 0;
}
h1 {
    margin: 0;
    font-weight: 400;
    font-size: 32px;
}
h1 span {
    -webkit-animation: blink 1s 0s infinite step-end;
    animation: blink 1s 0s infinite step-end;
}
h1 span:before {
    content: '_';
}
canvas {
    margin-bottom: 20px;
}
h2 {
    margin: 16px 0 30px 0;
    font-weight: 400;
    font-size: 16px;
}
a.cta,
button.cta {
    background: #0f0;
    color: #000;
    font-size: 8px;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
@-webkit-keyframes blink {
    from,
    to {
        color: #000;
    }
    50% {
        color: #0f0;
    }
}
@keyframes blink {
    from,
    to {
        color: #000;
    }
    50% {
        color: #0f0;
    }
}
