<article class="section4">
    <div class="row">
        <div class="column">
            <h2 class="centered">
                Always free &amp; completely <br />open-source!
            </h2>
            <p>
                BetterDo has been published as an open source project. That
                means that you can see and edit our source code. Have a feature
                idea? You can submit a request for the feature or dig into the
                code and add it yourself!
            </p>
        </div>
    </div>
</article>
