---
import Loading from '../svgs/loading.svg';
---

<article class="section3">
    <div class="row align-top">
        <div class="column">
            <h2>Personalized</h2>
            <p>
                BetterDo is designed to work the way you want it to. This means
                You can tweak the colouring, design, and settings to match your
                personality.
            </p>
        </div>
        <div class="column">
            <h2>Multi-user lists</h2>
            <p>
                Want to share a list with a loved one or a coworker? We've got
                you covered! BetterDo supports having multiple people
                contributing and editing lists!
            </p>
        </div>
    </div>
</article>

<style lang="scss">
    @import '../styles/_config.scss';
    @import '../styles/_mixins.scss';

    .section3 {
        padding: 20px;
        background: $accent3;
        border-bottom: 3px solid $accent3;
        margin-bottom: 1rem;
        .column {
            background: #fff;
            box-shadow: 0 1px 0 2px rgba(0, 0, 0, 0.05);
            box-sizing: border-box;
            padding: 20px;
            margin-bottom: 20px;
        }
        @include medium() {
            background: #fff;
            padding: 0 5rem;
            .column {
                margin: 0;
                padding: 20px 20px 20px 0;
                box-shadow: none;
                &:not(:first-of-type) {
                    padding-left: 20px;
                    padding-right: 0;
                    border-left: 3px solid $accent3;
                }
            }
        }
    }
</style>
